/*Profile Bar*/
.custom-container {
    background-image: url("../img/cool-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    padding: 1%;
    border: 2px outset lightblue;
}

.img-fluid {
    max-width: 5%;
    max-height: auto;
    margin-right: 1%;
}
/*Post Filed*/
.scrollable-field {
    height: 70vh;
    overflow-y: auto;
}

.post {
    border: 1px solid lightblue;
    border-radius: 8px;

    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.post-img {
    margin: 1%;
    max-width: 75vh;
    max-height: 75vh;
}

.post-description {
    display: inline-block;
    font-size: medium;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

/*Bottom Bar*/
.fixed-bottom {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0px 0px 10px lightblue;
}

.fixed-bottom button {
    color: white;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}