/*First Row*/
.row-name {
    height: 11vh;
    border: 2px outset lightblue;
}

.img-fluid {
    width: 10vh;
    margin: 0.5%;
}

/*Form*/
.row-form {
    height: 79vh;
    border: 2px outset lightblue;
}

form {
    display: flex;
    flex-direction: column;
}

#map {
    height: 30vh;
    margin-bottom: 2%;
}

/*Bottom Row*/
.row-bottom {
    height: 10vh;
    border: 2px outset lightblue;
    justify-content: center;
    align-items: center;
}

.fixed-bottom {
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px lightblue;
}

.custom-button {
    width: 20vh;
    color: white;
    font-size: 16px;
    margin: 3%;
}