.custom-container {
    background-image: url("../img/cool-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    padding: 1%;
    border: 2px outset lightblue;
}

.d-flex {
    margin: 0%;
    padding: 0%;
}

.img-fluid {
    width: 10%;
    height: auto;
}

.form {
    height: 73vh;
    overflow-y: auto;
}
.search {
    vertical-align: center;
    width: 30%;
    height: 30%;
}

.searchButton {
    vertical-align: center;
    width: 30%;
    display: inline-block;
}

.radio {
    margin: 0.5%;
    padding: 1%;
    border: 2px outset lightblue;

    color: antiquewhite;
    float: right;
}

.fixed-bottom {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0px 0px 10px lightblue;
}

.fixed-bottom button {
    color: white;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}