/*Second Row*/
.follower {
    border: 1px solid lightblue;
    border-radius: 8px;

    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.profile-img {
    margin: 1vh;
    width: 10vh;
}