/*First Row*/
body {
    font-family: 'Times New Roman', Times, serif;
}

.custom-container {
    background-image: url("../img/cool-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 0%;
}

.row-name {
    height: 11vh;
    border: 2px outset lightblue;
}

.img-fluid {
    height: 9vh;
    margin: 0.5%;
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
  
.dropdown-content p {
    border: 2px outset lightblue;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}
  
.show {display:block;}

/*Notification*/
.notification .badge {
    position: absolute;
    top: 0.9vh;
    right: 0.9vh;
    padding: 0.5vh 1vh;
    border-radius: 50%;
    background: red;
    color: white;
}

/*Second Row*/
.row-scroll {
    border: 2px outset lightblue;
    height: 82vh;
}

.custom-scrollable-field {
    height: 81vh;
    overflow-y: auto;
    scrollbar-color: #000000 transparent;
    scrollbar-width: thin;
}

.col-12 {
    padding: 0%;
}

.custom-post {
    margin: 0.5%;
    border: 2px outset lightblue;
}

.post-img {
    margin: 1vh;
    height: 61vh;
    width: auto;
}

.custom-textarea {
    height: 41vh;
    width: inherit;
    background: transparent;
    outline: none;
    border: 0 none;
    resize: none;
    scrollbar-color: #000000 transparent;
    scrollbar-width: thin;
}

/*Bottom Row*/
.row-bottom {
    height: 7vh;
}

.fixed-bottom {
    border: 2px outset lightblue;
    background-color: transparent;
    padding: 10px;
}

.fixed-bottom button {
    color: white;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}